html{
    background-image: url("../images/thelastofus2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:bisque;
}

#heading{
    text-align:center;
}

#start{
    background-color:rgb(1, 45, 1, 0.6);
    color:bisque;
    border:none;
    outline:none;
    border-radius:10px;
    padding:16px 32px;
    font-size:20px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    cursor:pointer;
}

#quiz{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:420px;
    border-radius:10px;
    background-color:rgb(1, 45, 1, 0.6);
    user-select:none;
}

.title{
    text-align:center;
}

ul{
    list-style-type: none;
}

li{
    font-size:20px;
    margin-bottom:7px;
}

li:hover{
    font-size:22px;
    color:rgb(181, 110, 24);
}

#submit{
    background-color:bisque;
    color:rgb(1, 45, 1);
    border:none;
    outline:none;
    border-radius:10px;
    padding:6px 12px;
    font-size:18px;
    cursor:pointer;
    float:right;
    margin-bottom:15px;
    margin-right:15px;
}

#submit:hover{
    background-color:rgb(181, 110, 24);
}

.check{
    background-color:bisque;
    color:rgb(1, 45, 1);
    border:none;
    outline:none;
    border-radius:10px;
    padding:6px 12px;
    font-size:18px;
    cursor:pointer;
    float:left;
    margin-bottom:15px;
    margin-left:15px;
}

.check:hover{
    background-color:rgb(181, 110, 24);
}

.summary{
    text-align:center;
    margin-bottom:10px;
    font-size:20px;
}

.result{
    text-align:center;
    font-size:18px;
}

.hidden{
    display:none;
}

#correct-answers{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:420px;
    border-radius:10px;
    background-color:rgb(1, 45, 1, 0.6);
    user-select:none;
    text-align:center;
}

#correct-answers h1{
    margin-bottom:7px;
}

#correct-answers h3{
    margin-bottom: 0;
    margin-top: 5px;
}

#correct-answers h3:last-child{
    margin-bottom:7px;
}

#progress{
    float:left;
    margin-bottom:15px;
    margin-left:10px;
}

.play-again{
    background-color:bisque;
    color:rgb(1, 45, 1);
    border:none;
    outline:none;
    border-radius:10px;
    padding:6px 12px;
    font-size:18px;
    cursor:pointer;
    margin-bottom:10px;
    margin-top:10px;
}

.play-again:hover{
    background-color:rgb(181, 110, 24);
}

@media screen and (max-width:500px){
    #quiz{
        width:300px;
    }
    #correct-answers{
        width:300px;
    }
}